name: Main

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies (with cache)
        uses: bahmutov/npm-install@v1

      - name: Check types
        run: yarn tsc --noEmit

      - name: Check linting
        run: yarn lint

      - name: Run tests
        run: yarn coverage

      - name: Build package
        run: yarn build
